In [ ]:
# This Python 3 environment comes with many helpful analytics libraries installed
# It is defined by the kaggle/python Docker image: https://github.com/kaggle/docker-python
# For example, here's several helpful packages to load

import numpy as np # linear algebra
import pandas as pd # data processing, CSV file I/O (e.g. pd.read_csv)

# Input data files are available in the read-only "../input/" directory
# For example, running this (by clicking run or pressing Shift+Enter) will list all files under the input directory

import os
for dirname, _, filenames in os.walk('/kaggle/input'):
    for filename in filenames:
        print(os.path.join(dirname, filename))

# You can write up to 20GB to the current directory (/kaggle/working/) that gets preserved as output when you create a version using "Save & Run All" 
# You can also write temporary files to /kaggle/temp/, but they won't be saved outside of the current session

In [1]:
import pandas as pd

In [2]:
df = pd.read_csv('/kaggle/input/datasalesfinal/data_sales .csv')
print(df)

    OrderID Region Product     Category     Month  Sales  Quantity
0      1001  North  Laptop  Electronics   January   1200         2
1      1002  North   Phone  Electronics   January    800         5
2      1003  South  Laptop  Electronics   January   1300         3
3      1004  South  Tablet  Electronics   January    900         4
4      1005  North  Laptop  Electronics  February   1500         3
5      1006  North   Phone  Electronics  February    850         6
6      1007  South  Laptop  Electronics  February   1400         2
7      1008  South  Tablet  Electronics  February    950         3
8      1009  North   Chair    Furniture   January    300         4
9      1010  South    Desk    Furniture   January    700         2
10     1011  North   Chair    Furniture  February    320         3
11     1012  South    Desk    Furniture  February    750         1

In [3]:
#This loads the sales CSV into pandas and prints the data.

In [4]:
slice_north = df[df['Region'] == 'North']
print(slice_north)

    OrderID Region Product     Category     Month  Sales  Quantity
0      1001  North  Laptop  Electronics   January   1200         2
1      1002  North   Phone  Electronics   January    800         5
4      1005  North  Laptop  Electronics  February   1500         3
5      1006  North   Phone  Electronics  February    850         6
8      1009  North   Chair    Furniture   January    300         4
10     1011  North   Chair    Furniture  February    320         3

In [ ]:
#This filters the dataset to only include records from the North region

In [5]:
dice_north_electronics = df[(df['Region'] == 'North') & (df['Category'] == 'Electronics')]
print(dice_north_electronics)

   OrderID Region Product     Category     Month  Sales  Quantity
0     1001  North  Laptop  Electronics   January   1200         2
1     1002  North   Phone  Electronics   January    800         5
4     1005  North  Laptop  Electronics  February   1500         3
5     1006  North   Phone  Electronics  February    850         6

In [ ]:
#This filters for North region AND Electronics category.

In [6]:
rollup_total_sales = df.groupby('Region')['Sales'].sum().reset_index()
print(rollup_total_sales)

  Region  Sales
0  North   4970
1  South   6000

In [7]:
#Groups sales data by Region and sums the Sales column.

In [8]:
drilldown_sales = df.groupby(['Region', 'Month'])['Sales'].sum().reset_index()
print(drilldown_sales)

  Region     Month  Sales
0  North  February   2670
1  North   January   2300
2  South  February   3100
3  South   January   2900

In [9]:
#Groups by Region and Month for more detailed aggregation.

In [10]:
pivot_table = pd.pivot_table(df, values='Sales', index='Region', columns='Month', aggfunc='sum', margins=True, margins_name='Total')
print(pivot_table)

Month   February  January  Total
Region
North       2670     2300   4970
South       3100     2900   6000
Total       5770     5200  10970

In [11]:
#Creates a pivot table showing total sales by Region and Month, with grand totals.